pytesseract
opencv-python
numpy
easyocr
Pillow
torch
transformers==4.38.2
einops
matplotlib
pulp
timm
psutil
nvidia-ml-py
manga-ocr
requests
scikit-learn
scipy 
pandas
ollama
super_image
paddlepaddle 
paddleocr
paddlepaddle-gpu
ultralytics













